html *
{
   font-family: Arial !important;
   background-color: #2f3336;
}

.wrapper {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #2f3336;
    padding: 10px;
}
.title {
    color : #fff;
    grid-column: 1/8;
    grid-row: 1;
}

.subtitle {
    margin: .1rem;
    color : #e6e5e5;
}

.intro {
    grid-column: 1/8;
}
.introText{
    margin: 5px;
    font-size: 1rem;
    color : #e6e5e5;
}

.projectHeader{
    margin: 5px;
    font-size: 1.75rem;
    color : #fff;
}
.projects {
    grid-column: 1/8;
    grid-row: 3;

}

.projectTitle {
    margin: 5px;
    font-size: 1.5rem;
    color : #fff;
}

.date {
    margin: 5px;
    font-size: 1rem;
    color : #e6e5e5;
}

.projectDescription {
    text-align: center;
    margin: auto;
    font-size: 1rem;
    color : #d1d1d1;
    width: 60%;
}

.project {
    padding: 20px;
}

.link {
    color: #fff;
}